<% layout('./layout/boilerplate') %>

  <div class="row">
    <h1 class="text-center">Create Camp</h1>
    <div class="col-6 offset-3">
      <form action="/campgrounds" method="POST">

        <div class="mb-3">
          <label for="title" class="form-label ">Title</label>
          <input type="text" class="form-control" id="title" name="campground[title]">
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" class="form-control" id="location" name="campground[location]">
        </div>

        <label for="image" class="form-label">Image URL</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
          <input type="text" name="campground[image]" class="form-control" id="image">
        </div>

        <label for="price" class="form-label">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text">₹</span>
          <input type="number" class="form-control" id="price" name="campground[price]">
        </div>

        <label for="description">Description</label>
        <textarea name="campground[description]" id="description" cols="30" rows="5" placeholder="Description"
          class="form-control"> </textarea>

        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-success mt-3">Add Campground</button>
        </div>

      </form>
    </div>
  </div>