<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Hillside Creek</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/campgrounds">Campgrounds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds/new">New Campground</a>
        </li>
      </ul>
      <div class="navbar-nav">
        <% if(!currentUser) { %>
          <a class="nav-link btn btn-outline-success mx-2  " href="/login">Login</a>
          <a class="nav-link btn btn-outline-primary mx-2 " href="/register"> Register </a>
          <% } else {%>
            <a class="nav-link btn btn-outline-danger mx-2" href="/logout"> Logout </a>
            <% } %>
      </div>
    </div>

  </div>
</nav>